:root {
    --color1: #dcdcdd;
    --color2: #bcdbbc;
    --color3: #87bba2;
    --color4: #55828b;
    --color5: #3b6064;
    --color6: #364958;
    --color7: black;
    --gradient-color: #f6f6f6;
    --gradient-img: linear-gradient(315deg, #f6f6f6 0%, #e9e9e9 74%);
}

html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.navbar {
    background-color: var(--gradient-color);
    background-image: var(--gradient-img);
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
}

.navbar-brand-sm {
    font-family: Ubuntu, sans-serif;
    color: var(--color7);
    text-transform: lowercase;
    margin-right: 30px;
}

.navbar-brand-sm #page-name {
    font-weight: 900;
    color: var(--color5);
}

.nav-item .active {
    font-weight: 900;
    text-decoration: underline;
}

#gototop {
    z-index: 1;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 40px;
    background-color: var(--coo);
    color: var(--color3);
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.bg {
    background-color: var(--color6);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-babackground-size: cover;
    -webkit-babackground-size: cover;
    -o-babackground-size: cover;
    -webkit-filter: brightness(70%);
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.7" /><feFuncG type="linear" slope="0.7" /><feFuncB type="linear" slope="0.7" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(70%);
    height: 350px;
    max-width: 100%;
    color: var(--color1);
}

.grids {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 4fr 7fr 1fr !important;
    grid-template-rows: 4fr 7fr 1fr !important;
    -ms-grid-columns: 4fr 8fr 1fr;
    grid-template-columns: 4fr 8fr 1fr;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    height: 100%;
    width: 100%;
}

.grid-item {
    grid-area: 2 / 2 / 3 / 3;
    max-height: 100%;
    width: 100%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    background-color: rgba(0, 0, 0, .55);
    /* background-color: var(--color6); */
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    color: white;
    font-family: Quicksand, sans-serif;
    font-weight: bold;
    font-size: 12px;
    padding: 20px;
}

.grid-item h1 {
    font-size: 25px;
}

.intro {
    font-family: Poppins, sans-serif;
    text-align: center;
    margin-top: 95px;
    margin-bottom: 50px;
}

.intro h1 {
    font-size: 35px;
    color: var(--color7);
    margin-bottom: 20px;
}

.intro h2 {
    font-size: 16px;
    color: var(--color5);
    margin-bottom: 20px;
}

.intro .avatar {
    margin: 0 auto;
    border-radius: 50%;
    max-height: 210px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 0 10px var(--color3);
}

.intro span {
    display: block;
}

main.main-container {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

main p {
    font-size: 14px;
}

.subcontainer {
    margin: 70px 25px 20px 25px;
}

footer {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background-color: var(--gradient-color);
    background-image: var(--gradient-img);
    width: 100%;
    font-size: 17px;
    text-align: center;
    font-family: Poppins, sans-serif;
    color: var(--color7);
    height: 120px;
    padding-top: 10px;
}

footer hr {
    position: relative;
    width: 90px;
    margin: 0 auto;
    margin-top: -15px;
    background: var(--color6);
}

ul.social {
    margin: 0 auto;
    margin-top: 0px;
}

.social li {
    display: inline;
}

.social-icon i {
    font-size: 1.8em;
    /* border-radius: 50%; */
    /* border: 2px solid grey; */
    color: var(--color6);
    width: 35px;
}

#copyright {
    font-size: 9px;
    margin-top: 20px;
}

.text a {
    color: var(--color4);
}

.text h2 {
    font-family: Poppins, sans-serif;
    font-size: 28px;
}

.text h3 {
    font-family: Poppins, sans-serif;
    font-size: 20px;
}

.text p {
    font-family: Poppins, sans-serif;
}

.text {
    margin-bottom: 50px;
}

/* education */

.card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    font-family: Poppins, sans-serif;
}

.card {
    display: inline;
    box-shadow: 2px 2px 8px var(--color4);
    color: var(--color6);
    padding: 20px 20px 20px 20px;
    /* max-width: 380px; */
    margin: 10px;
}

.card h3 {
    display: inline;
    font-size: 14px;
    /* margin-bottom: 35px; */
}

.card .info {
    margin-left: 20px;
    margin-top: 8px;
    font-size: 12px;
}

.card .more {
    color: var(--color4);
    display: block;
    position: absolute;
    right: 10px;
    bottom: 8px;
    text-decoration: underline;
}

.card img {
    max-width: 100%;
    margin: 0 auto 25px auto;
}

/* work */

#work.bg {
    background-image: url("../img/work.jpg");
    background-position: bottom left 35%;
}

.card button {
    background: transparent;
    border: none;
}

/* research */

#research.bg {
    background-image: url("../img/duder.jpg");
    background-position: bottom right 25%;
}

/* interests */

#interests.bg {
    background-image: url("../img/nddp.jpg");
    background-position: bottom center;
}

/* contact */

#contact.bg {
    background-image: url("../img/alex.jpg");
    background-position: bottom right 25%;
}

.subsection {
    padding: 20px 20px 40px 20px;
    margin: 0 auto;
    max-width: 500px;
    /* background-color: var(--color2); */
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 4px 4px;
}

.column {
    -webkit-box-flex: 50%;
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

.gallery img {
    width: 100%;
    margin-top: 8px;
    vertical-align: middle;
    box-shadow: 0 0 3px var(--color6);
}

.wide {
    -webkit-box-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    padding: 0 4px;
}

.parallax {
    background-color: var(--color6);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-babackground-size: cover;
    -o-babackground-size: cover;
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.8" /><feFuncG type="linear" slope="0.8" /><feFuncB type="linear" slope="0.8" /></feComponentTransfer></filter></svg>#filter');
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
    min-height: 100px;
    max-width: 100%;
}

#parallax-interests.parallax {
    background-image: url("../img/duncan.jpg");
    background-position: center;
}

/* contact */

#form-contact fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

form#form-contact {
    /* max-width: 380px; */
    padding: 20px 20px;
    margin: 0 auto;
}

#form-contact input, textarea {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#form-contact textarea {
    min-height: 120px;
}

#form-contact button {
    cursor: pointer;
    width: 100%;
    border: none;
    background-color: var(--color5);
    color: white;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
        /* Removes scroll animation */
    }
}

@media only screen and (min-width: 768px) {
    .subcontainer {
        margin: 70px 80px 70px 80px;
    }

    .card-container {
        border-left: 2px solid var(--color1);
        margin: 0 auto;
        max-width: 600px;
    }

    .card {
        margin-top: 20px;
        margin-left: 20px;
    }

    .card:before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: var(--color4);
        border: 4px solid white;
        position: absolute;
        top: 10px;
        left: -32px;
    }

    .subsection {
        max-width: 650px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
    .intro {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
        gap: 50px;
    }

    .intro #intro-img {
        justify-self: end;
        -ms-flex-item-align: center;
            align-self: center;
    }

    .intro .avatar {
        margin: 0px 0px 0px auto; 
    }

    .intro #intro-text {
        text-align: left;
        justify-self: start;
        -ms-flex-item-align: center;
            align-self: center;
    }
}