:root {
    --color1: #dcdcdd;
    --color2: #bcdbbc;
    --color3: #87bba2;
    --color4: #55828b;
    --color5: #3b6064;
    --color6: #364958;
    --color7: black;
    --gradient-color: #f6f6f6;
    --gradient-img: linear-gradient(315deg, #f6f6f6 0%, #e9e9e9 74%);
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}


.navbar {
    background-color: var(--gradient-color);
    background-image: var(--gradient-img);
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
}

.navbar-brand-sm {
    font-family: Ubuntu, sans-serif;
    color: var(--color7);
    text-transform: lowercase;
    margin-right: 30px;
}

.navbar-brand-sm #page-name {
    font-weight: 900;
    color: var(--color5);
}

.nav-item .active {
    font-weight: 900;
    text-decoration: underline;
}

.bg {
    background-color: var(--color6);
    background-image: url("../img/bg.jpg");
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(90%);
    height: 300px;
    max-width: 100%;
    margin-bottom: 25px;
}

.intro {
    font-family: Poppins, sans-serif;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

.intro h2 {
    font-size: 35px;
    color: var(--color7);
}

.intro h3 {
    font-size: 14px;
    color: var(--color5);
}

.intro .avatar {
    margin: 0 auto;
    border-radius:50%;
    max-height: 180px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 0 10px var(--color3);
}

.intro span {
    display: block;
}

main.container {
    flex: 1 0 auto;
    padding: 70px 30px;
}

main p {
    font-size: 14px;
}

footer {
    flex-shrink: 0;
    background-color: var(--gradient-color);
    background-image: var(--gradient-img);
    width: 100%;
    font-size: 17px;
    text-align: center;
    font-family: Poppins, sans-serif;
    color: var(--color7);
    height: 120px;
    padding-top: 10px;
}

footer hr {
    position: relative;
    width: 80px;
    margin: 0 auto;
    margin-top: -15px;
    background: var(--color6);
}

ul.social {
    margin: 0 auto;
    margin-top: 0px;
}

.social li {
    display: inline;
}

.social-icon i {
    font-size: 1em;
    /* border-radius: 50%; */
    /* border: 2px solid grey; */
    color: var(--color6);
}

#copyright {
    font-size: 9px;
}

.text .href {
    color: var(--color4);
}

.text h2 {
    font-family: Poppins, sans-serif;
    font-size: 24px;
    text-align: center;
}


@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
        /* Removes scroll animation */
    }
}

@media (min-width: 768px) {
    html, body {
        scroll-behavior: smooth;
    }
}